* {
margin: 0;
padding: 0;
}

body {
background-color: #f1f1f1;
font-family: sans-serif;
}

.App {
text-align: center;
}

/*
////////////////////////
Partie Header
////////////////////////
*/

.headerTop {
background-color: #6441a4;
height: 50px;
position: fixed;
width: 100%;
z-index: 1000;
}

.listeMenu {
display: flex;
align-items: center;
height: 50px;
width: 100%;
}

.liensNav {
  list-style-type: none;
  padding: 0 20px;
}

.liensNav:nth-child(4) {
  margin: 0 auto;
  flex-shrink: 1;
  width: 600px;
}

.lien {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.lien:hover {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin-top: 5px;
}
.formSubmit {
  display: flex;
  flex-shrink: 1;
}

.logoloupe {
  width: 20px;
}

.inputRecherche {
width: 50ù;
background-color: #fff;
border: 2px solid #fff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.liensNav button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:4px 20px;
  border: none;
}

.menuResBtn {
  display: none;
position: fixed;
top: 10px;
right: 20px;
color: #fff;
width: 50px;
cursor: pointer;
}

.menuIco {
  width: 25px;
}

/*
////////////////////////
Partie Sidebar
////////////////////////
*/

.sidebar {
  background: #19171c;
  height: 100vh;
  position: fixed;
  width: 239px;
  top: 50px;
}

.titreSidebar {
  padding: 30px 0 20px 0;
  color: #efebf5;
  font-size: 15px;
  font-weight: 500;
}

.listeStream {
  padding: 0 0 0 10px;
  color: #efebf5;
} 

.containerFlexSidebar {
  padding: 10px 15px 8px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.containerFlexSidebar:hover {
  background-color: rgba(255,255,255,0,2);
}

.profilePicRonde {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.streamUser {
  color: #f1f1f1;
  flex-basis: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameNameSidebar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aeabb6;
  text-align: left;
  margin-top: 5px;
}

.viewerRight {
  color: #aeabb6;
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.pointRouge {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 3px;
  background: crimson;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}


/*
////////////////////////
Partie Games
////////////////////////
*/

.titreGames {
  padding-top: 90px;
  font-size: 50px;
  font-weight: 300;
  padding-left: 260px;
  padding-bottom: 50px;
}

.flexAccueil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 260px;
}

.carteGames {
  height: 480px;
  width: 280px;
  margin: 0 30px 30px 0;
  position: relative;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
}

.carteGames:hover {
  transform: translateY(-5px);
}

.imgCarte {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardBodyGames {
  height: 144px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.btnCarte {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212529;
  font-size: 14px;
  line-height: 1.125;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.btnCarte:hover {
  text-decoration: none;
  color: #fff;
}

.titreCartesGames {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .titreGames {
    padding-left: 0px;
  }

  .flexAccueil {
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .titreGames {
    font-size: 40px;
  }
}

@media screen and (max-width: 559px) {
  .carteGames{
    margin: 0 0 30px 0;
  }
  .flexAccueil {
    padding-left: 0px;
  }
}

/*
////////////////////////
Partie TOPSTREAMS
////////////////////////
*/

.carteStream {
  height: 420px;
  width: 320px;
  margin: 0 30px 30px 0;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
}

.carteStream:hover {
  transform: translateY(-5px);
}

.titreCartesStream {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
  font-size: 21px;
}

.cardBodyStream {
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.txtStream {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}

.viewers {
  margin-bottom: 20px;
}

@media screen and (max-width: 559px) {
  .carteStream {
    margin: 0 0 30px 0;
  }
}

/*
////////////////////////
Partie Live
////////////////////////
*/

.containerDecale {
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 239px;
}

.contInfo {
  color: #19171c;
  display: grid;
  height: 156px;
  width: calc(100% - 340px);
  grid-template: repeat(3, 35px) / 1fr 1fr;
  margin-top: 5px;
}

.titreStream {
  grid-area: 1 / 1 / 2 / 3;
  text-align: left;
  margin-left: 5px;
  font-weight: 400;
  font-size: 20px;
}

.viewer {
  grid-area: 1 / 2 / 2 / 3;
  text-align: right;
  color: crimson;
  font-weight: 700;
  margin: 3px 5px 0 0;
}

.infoGame{
  grid-area: 2 / 1 / 3 / 3;
  text-align: left;
  margin-left: 5px;
  font-weight: 400;
  font-size: 20px;
}

.nomJeu {
  grid-area: 3 / 1 / 4 / 2;
  text-align: left;
  margin-left: 5px;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .containerDecale {
    padding-left: 0px;
  }
  .contInfo{
    width: calc(100%);
  }
  .viewer{
    margin: 5px 25px 0 0;
  }
}
  
@media screen and (max-width: 630px) {
  .contInfo {
    height: 100%;
    grid-template: 45px 35px 35px 35px / 1fr 1fr;
  }
  .titreStream{
    font-size: 14px;
  }
  .nomJeu {
    font-size: 14px;
  }
  .infoGame {
    font-size: 14px;
  }
  .viewer {
    font-size: 14px;
    margin: 0 0 0 5px;
    grid-area: 4 / 1 / 5 / 2;
    text-align: left;
  }
}
